{ {{ estudante.rgm }}: {
    'nome': {{estudante.nome}},
    'periodo': {{estudante.periodo}}    
} }
<br>
<a href="/estudante/{{ estudante.id }}/atualizar/">atualizar</a>
<a href="/estudante/{{ estudante.id }}/remover/">remover</a>
<br>
<a href="/estudantes/">Voltar ao índice</a>