{% if lista_de_estudantes %}
    <ul>
    {% for estudante in lista_de_estudantes %}
        <li><a href="/estudante/{{ estudante.id }}/">{{ estudante.rgm }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhum estudante encontrado.</p>
{% endif %}
